{
  "check-coverage": true,
  "lines": 95,
  "statements": 95,
  "functions": 95,
  "branches": 80,
  "exclude": [
    "coverage/*",
    "node_modules/*",
    "divisionOfIntegers.js",
    "sum.js",
    "src/.internal/*"
   ],
   "reporter": [
     "lcov",
     "text-summary"
   ],
   "require": [],
  "extension": [
     ".js"
  ],
  "cache": false,
  "all": true,
  "report-dir": "./coverage"
}